/*---------------------
     VARIABLES
----------------------*/

/* Color Variables */

$color-theme: #149E14;
$color-secondary: #eb2639;
$color-tertiary: #ceaf32;
$color-body: #36454f;
$color-white: #ffffff;
$color-black: #000000;
$color-heading: #1b1a1a;
$color-dark: #222222;
$color-gray: #f9f9f9;
$color-gray2: #f4f4f4;

/* Font Variables */

$font-heading: 'Rubik',
sans-serif;

$font-body: 'Roboto',
sans-serif;

$body-font-size: 15px;