# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*.{php,js,css}]
# Use tab instead of spaces for indentation
indent_style = tab
indent_size = 4

# Remove any trailing whitespace at the end of each line
trim_trailing_whitespace = true

